table{

	border:1 px;
	border-collapse: collapse;
	padding: 5px;
	border-color: #dddfff;

}

#table1{
	border:1 px;
	border-collapse: collapse;
	padding: 5px;
	border-color: #dddfff;

}
.t1{
	border:1 px;
	border-collapse: collapse;
	padding: 5px;
	border-color: #dddfff;
}